wiki-target-frame{
  h1{
    margin: 0px;
    margin-bottom: 0.1em;
    line-height: 1.2em;
    padding-bottom: 0px;
    font-size: 188%;
    color: #000;
    overflow: hidden;
    padding-top: 0.5em;
    border-bottom: 1px solid #AAA;
  }
  img{
    width: 50%;
    float: left;
    margin: 0.5em 1em 0.5em 0px;
  }
}
