//Media Queries
@media (max-width: 767px) { //xs
    .wq-h1{
      font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) { //sm
  .wq-h1{
    font-size: 26px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) { //md
  .wq-h1{
    font-size: 30px;
  }
}

@media (min-width: 1200px) { //lg and up
  .wq-h1{
    font-size: 36px;
  }
}


.wq-matches-frame{
  background-color: #EEE;
  overflow: auto;
  height: 85vh;
  padding: 5px;

  accordion{
    a.btn{
      margin-right: .5em;
    }
    h5{
      font-size: 1.2em;
      margin-bottom: .1em;
      margin-top: 0;
    }
  }
}
.wq-match-data{
  font-size: 1.5em;
  span{
    font-size: .9em;
    color: #666;
  }
}
.wq-messages{
  height: 30vh;
  border-radius: 10px;
  padding: .5em;
  background-color: #F3F3F3;
  overflow: auto;
  border: solid thin #DDD;
}
.wq-message{
  background-color: #FFF;
  padding: .5em;
  margin: .5em;
  border-radius: 3px;
}
