<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <div class="wq-matches-frame">
        <accordion close-others="true">
            <accordion-group ng-repeat="match in matches" ng-if="!match.started" is-disabled="match.guests.length == 0">
              <accordion-heading>
                <div class="row">
                  <div class="col-xs-8">
                    <span class="wq-match-title">{{match.creator}}'s Match</span>
                  </div>
                  <div class="col-xs-4">
                    <span class="wq-match-buttons">
                      <a href class="btn btn-xs btn-primary" ng-click="joinMatch(match)" ng-if="match._id !== currentMatch._id">Join</a>
                      <a href class="btn btn-xs btn-danger" ng-click="cancelMatch()" ng-if="!hosting && match._id === currentMatch._id">Exit</a>
                      <a href class="btn btn-xs btn-danger" ng-click="cancelMatch()" ng-if="hosting && match._id === currentMatch._id">Cancel</a>
                      <i class="glyphicon glyphicon-chevron-down"></i>
                    </span>
                  </div>
                </div>
              </accordion-heading>
              <h5>Current Guests:</h5>
              <span ng-repeat="guest in match.guests track by $index" ng-if="!$last">{{ guest }}, &nbsp;</span>
              <span>{{ match.guests[match.guests.length - 1]}}</span>
            </accordion-group>
          </accordion>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="wq-match-frame">
        <h1 class='wq-h1'>Match Info</h1>
        <p ng-if='!currentMatch._id'> You are currently not on a match. Create one, or join one, have fun!</p>
        <div ng-if='currentMatch._id'>
          <div class="wq-match-data">
            Alias:<span> {{activeAlias}}</span>
          </div>
          <div class="wq-match-data">
            Host:<span> {{ currentMatch.creator}}</span>
          </div>
          <div class="wq-match-data">
            Guests:<p>
              <span ng-repeat="guest in currentMatch.guests track by $index" ng-if="!$last">{{ guest }}, &nbsp;</span>
              <span>{{ currentMatch.guests[currentMatch.guests.length - 1]}}</span>
            </p>

          </div>
          <a href class="btn btn-success" ng-click="startMatch()" ng-if="hosting">
            Start
          </a>
        </div>
        <a href class="btn btn-success" ng-click="createMatch()" ng-if="!currentMatch._id">
          Create
        </a>
      </div>
      <div collapse="!currentMatch._id">
        <h3>Match Messages</h3>
        <div class="wq-messages" scroll-on-change="currentMatch.messages.length" mode="bottom">
          <p ng-repeat = "message in currentMatch.messages track by $index" class='wq-message' >
            &emsp;<strong> {{message.alias}}:</strong> {{message.msg}}
          </p>
        </div>
        <form class="match-form">
          <label>Communicate!</label>
          <p class="input-group">
            <input type="text" class="form-control" placeholder="message" ng-model="newMsg">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" ng-click="pushMsg()">Send</button>
            </span>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
