<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3>Playing as: {{alias}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <wiki-target-frame extract="target" >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="wq-history" >
            <h1>History</h1>
            <div scroll-on-change="history.length" mode="bottom">
              <ul>
                <li ng-repeat="page in history track by $index">
                  <a href="#"  ng-click="getBack(page,$index)"> {{ page }} </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="wq-content" scroll-on-change="pageFullHTML" mode="top">
        <wiki-frame page="pageFullHTML"></wiki-frame>
      </div>
    </div>
  </div>
</div>
