@import "wiki.css";

.wq-content{
  border: solid #A7D7F9;
	background-color: #FFF;
	color: #252525;
	padding: 10px 20px;
  height: 80vh;
  overflow: auto;
}
.wq-target-frame{
  border: solid #F9D7A7;
  background-color: #FFF;
  color: #252525;
  padding: 10px 20px;
  height: 40vh;
  overflow: auto;
}
.wq-history{
  border: solid #D7F9A7;
  height: 40vh;
  overflow: auto;
}
