@import "wiki.css";

.wq-content{
  border: solid #A7D7F9;
	background-color: #FFF;
	color: #252525;
	padding: 10px 20px;
  height: 80vh;
  overflow: auto;
}
.wq-target-frame{
  @extend .wq-content;
  border: solid #F9D7A7;
  height: 40vh;
}
.wq-history{
  @extend .wq-target-frame;
  border: solid #D7F9A7;
  overflow: hidden;
  h1{
    margin: 0px;
    margin-bottom: 0.1em;
    line-height: 1.2em;
    padding-bottom: 0px;
    font-size: 188%;
    color: #000;
    overflow: hidden;
    padding-top: 0.5em;
    border-bottom: 1px solid #AAA;
  }
  div{
    overflow: auto;
  }
}
