$shadow_color: #EEE;
%shadow {
  -moz-box-shadow:    10px 10px 0px 0px $shadow_color;
  -webkit-box-shadow: 10px 10px 0px 0px $shadow_color;
  box-shadow:         10px 10px 0px 0px $shadow_color;
}
.wq-content{
  @extend %shadow;
  border: solid thin #A7D7F9;
  background-color: #FEFEFE;
  border-color: #DDD;
  border-radius: 10px;
	color: #252525;
	padding: 10px 20px;
  height: 80vh;
  overflow: auto;
  margin-bottom: 5vh;
}
.wq-target-frame{
  @extend .wq-content;
  height: 37.5vh;
}
.wq-win-alert{
  padding-left: 30px;
  text-align: justify;


}
.wq-history{
  @extend .wq-target-frame;
  overflow: hidden;
  h1{
    margin: 0px;
    margin-bottom: 0.1em;
    line-height: 1.2em;
    padding-bottom: 0px;
    font-size: 188%;
    color: #000;
    overflow: hidden;
    padding-top: 0.5em;
    border-bottom: 1px solid #AAA;
  }
  div{
    overflow: auto;
    height: 75%;
  }
}
